<!-- The trending tags list -->

{% assign MAX = 10 %}
{% assign docs = site.posts %}
{% assign tag_prefix = '/tags/' %}
{% assign all_tags_url = '/tags/' %}
{% assign all_tags_label = 'All tags' %}

{% if page.collection == 'recipes' or page.layout == 'recipe' or page.layout == 'recipes' or page.layout == 'recipe-tag' or page.layout == 'recipe-tags' or page.url == '/recipe-tags/' %}
  {% assign docs = site.recipes %}
  {% assign tag_prefix = '/recipe-tags/' %}
  {% assign all_tags_url = '/recipe-tags/' %}
  {% assign all_tags_label = 'All recipe tags' %}
{% endif %}

{% assign raw_tags = '' | split: '' %}

{% for doc in docs %}
  {% for tag_name in doc.tags %}
    {% assign raw_tags = raw_tags | push: tag_name %}
  {% endfor %}
{% endfor %}

{% assign sorted_tag_names = raw_tags | uniq | sort_natural %}
{% assign size_list = '' | split: '' %}
{% assign tag_list = '' | split: '' %}

{% for tag_name in sorted_tag_names %}
  {% assign size = 0 %}

  {% for doc in docs %}
    {% if doc.tags contains tag_name %}
      {% assign size = size | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% if size > 0 %}
    {% assign size_list = size_list | push: size %}
    {% assign tag_str = tag_name | append: '::' | append: size %}
    {% assign tag_list = tag_list | push: tag_str %}
  {% endif %}
{% endfor %}

{% assign size_list = size_list | sort | reverse %}
{% assign tag_list = tag_list | sort_natural %}
{% assign trending_tags = '' | split: '' %}

{% for size in size_list limit: MAX %}
  {% for tag_str in tag_list %}
    {% assign tag = tag_str | split: '::' %}
    {% assign tag_name = tag | first %}
    {% assign tag_size = tag | last | plus: 0 %}
    {% if tag_size == size %}
      {% unless trending_tags contains tag_name %}
        {% assign trending_tags = trending_tags | push: tag_name %}
        {% break %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if trending_tags.size > 0 %}
  <section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.trending_tags -}}</h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for tag_name in trending_tags %}
        {% assign url = tag_name | slugify | url_encode | prepend: tag_prefix | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ tag_name }}</a>
      {% endfor %}
    </div>
    <a class="all-tags-link d-inline-flex align-items-center mt-2" href="{{ all_tags_url | relative_url }}">
      {{ all_tags_label }}
      <i class="fas fa-angle-right fa-fw ms-1 small"></i>
    </a>
  </section>
{% endif %}
